{{#partial "content"}}
    <div class="card mx-auto">
        <h2>ALL CLANS</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">name</th>
                <th scope="col">members</th>
                <th scope="col">view details</th>
            </tr>
            </thead>
            <tbody>
            {{#each clans}}
                <tr>
                    <th scope="row">1</th>
                    <td>{{name}}</td>
                    <td>{{total_members}}</td>
                    <td><i class="fa fa-eye text-info"></i></td>
                </tr>
            {{/each}}

            </tbody>
        </table>
    </div>
{{/partial}}
{{>layout.hbs}}