{{#partial "content"}}


    <div style="width: 640px; height: 480px" id="mapContainer"></div>



    <script>

     var platform = new H.service.Platform({
    'app_id': '0nCTupV5STuixVrMBNoe ',
    'app_code': '_mipfx7-_Ecxi-wEeLPnbg '
    });

    // Obtain the default map types from the platform object
    var maptypes = platform.createDefaultLayers();

    // Instantiate (and display) a map object:
    var map = new H.Map(
    document.getElementById('mapContainer'),
    maptypes.normal.map,
    {
      zoom: 10,
      center: { lng: {{longitude}}, lat: {{latitude}} }
    });
    </script>
{{/partial}}
{{>layout.hbs}}