{{#partial "content"}}

    <div class="row">
        <div class="col">
            <div class="card bg-white" style="width: 33rem;">
                <h3 class="text-center">This Clan</h3>
            </div>
        </div>
        <div class="col">
            <img src="images(1).png" alt="">
        </div>
    </div>


{{/partial}}
{{>layout.hbs}}