{{#partial "content"}}
    <div style="background-image: url('bgimage.jpg')">

    <div class="card bg-white" style="width: 33rem;">
        <h3 class="text-center">This User</h3>

    </div>
    </div>

{{/partial}}
{{>layout.hbs}}